<p id="notice"><%= notice %></p>

<h1>Listing Encounters</h1>

<table border = "1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @encounters.each do |encounter| %>
      <tr>
        <td><%= encounter.name %></td>
        <td><%= encounter.description %></td>
        <td><%= link_to 'Show', encounter %></td>
        <td><%= link_to 'Edit', edit_encounter_path(encounter) %></td>
        <td><%= link_to 'Destroy', encounter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Encounter', new_encounter_path %>
