<p id="notice"><%= notice %></p>

<h1>Listing Pulls</h1>

<table border = "1">
  <thead>
    <tr>
      <th>Encounter</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @pulls.each do |pull| %>
      <tr>
        <td><%=Encounter.find(pull.encounter_id).name%></td>
        <td><%= pull.name %></td>
        <td><%= pull.description %></td>
        <td><%= link_to 'Show', pull %></td>
        <td><%= link_to 'Edit', edit_pull_path(pull) %></td>
        <td><%= link_to 'Destroy', pull, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pull', new_pull_path %>
