<p id="notice"><%= notice %></p>

<div class="panel">

<h1>Self</h1>

<table border= "1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th>RXP</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= current_player.name %></td>
        <td><%= Rank.find(current_player.rank).name %></td>
        <td><%= current_player.rxp %></td>
        <td><%= link_to 'Show', current_player %></td>
        <td><%= link_to 'Edit', edit_player_path(current_player) %></td>
        <td><%= link_to 'Destroy', current_player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>

</div>

<div class="panel">

<h1>Listing Players</h1>

<table border= "1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th>RXP</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <%unless player.id == current_player.id %>
        <tr>
          <td><%= player.name %></td>
          <td><%= Rank.find(player.rank).name %></td>
          <td><%= player.rxp %></td>
          <td><%= link_to 'Show', player %></td>
        </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

</div>

<%= link_to 'New Player', new_player_path %>
