<p id="notice"><%= notice %></p>

<div class="panel">

<h1><%= @squad.name %></h1>

</div>
  
<h1>Listing Squad Players</h1>

<div class="panel">

    <%@players.each do |pl|%>

        <h1><%=pl.name%> Characters</h1>
            
        <table border = "1">
          <thead>
            <tr>
              <td>Name</td>
              <td>Role</td>
              <td>Class</td>
              <td>Prefix</td>
              <td>Affix</td>
              <td>Sigil 1</td>
              <td>Sigil 2</td>
              <td>Sigil 3</td>
              <td>Sigil 4</td>
              <td>Toughness</td>
              <td>Armor Class</td>
            </tr>
        </thead>
      
        <tbody>
            <% Character.where(:player_id => pl.id).all.each do |c| %>
            <tr>
              <td><%= c.name %></td>
               <td><%=Role.find(c.role).name %></td>
               <td><%=Cclass.find(c.cclass).name %></td>
               <td><%=Prefix.find(c.prefix).name %></td>
               <td><%=Affix.find(c.affix).name %></td>
               <td><%=Sigil.find(c.sigil_1).name %></td>
               <td><%=Sigil.find(c.sigil_2).name %></td>
               <td><%=Sigil.find(c.sigil_3).name %></td>
               <td><%=Sigil.find(c.sigil_4).name %></td>
               <td><%=c.toughness %></td>
               <td><%=c.ac %></td>
    
               <td><%= link_to 'Show', c %></td>
                  <%if c.id == current_player.id%>
                      <td><%= link_to 'Edit', edit_character_path(c) %></td>
                  <%end%>
                 </tr>
            <%end%>
         </tbody>
        </table>
    <% end %>
    
<%= link_to 'Edit', edit_squad_path(@squad) %> |
<%= link_to 'Back', squad_path %> 

