<%= simple_form_for @character_pull_role_ref do |f| %>
    <% if @character_pull_role_ref.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@character_pull_role_ref.errors.count, "error") %> prohibited this character_pull_role_ref from being saved:</h2>
  
        <ul>
        <% @character_pull_role_ref.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
  <h3>Again, this will eventually populate with just characters from your selected squad.  For now you have to go through all characters.</h3>
  <%= f.input :character_id,:collection => Character.all,:label_method => :name,:value_method => :id,:label => "Character Name" ,:include_blank => true %>
  <h3>This should also be changed to only pull from PullRoles which the Leader created.</h3>
  <%= f.input :pull_role_id,:collection => PullRole.all,:label_method => :name,:value_method => :id,:label => "Pull Role" ,:include_blank => true %>
  <%= f.input :leader_id, :as => :hidden, :input_html => { :value => current_player.id }%>
  <%= f.button :submit %>
<% end %>