<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Covenant Raid Manager" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

<div class="top-bar">

<%if current_player %>
  <%if current_player.is_leader? %>
      <%= link_to "Squads", squads_path %> |
      <%= link_to "Encounters", encounters_path %> |
      <%= link_to "ECRS", encounter_character_refs_path %> |
      <%= link_to "Pulls", pulls_path %> |
      <%= link_to "Pull Roles", pull_roles_path %> |
      <%= link_to "CPRRS", character_pull_role_refs_path %> |
      <%= link_to "Affixes", affixes_path %> |
      <%= link_to "Classes", cclasses_path %> |
      <%= link_to "Prefixes", prefixes_path %> |
      <%= link_to "Ranks", ranks_path %> |
      <%= link_to "Roles", roles_path %> |
      <%= link_to "Sigils", sigils_path %> 
  <%end%> |
<%end%>
    <%= link_to "Players", players_path %>
    <%= link_to "Characters", characters_path %> |
    <% if player_signed_in? %>
      <%= link_to('Logout', destroy_player_session_path, :method => :delete) %>
    <% else %>
      <%= link_to('Login', new_player_session_path)  %>
    <% end %>

</div>

    <%= yield %>

  </body>
</html>
