<%= simple_form_for @encounter_character_ref do |f| %>
    <% if @encounter_character_ref.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@encounter_character_ref.errors.count, "error") %> prohibited this encounter_character_ref from being saved:</h2>
  
        <ul>
        <% @encounter_character_ref.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
  <%= f.input :encounter_id,:collection => Encounter.all,:label_method => :name,:value_method => :id,:label => "Encounter" ,:include_blank => true %>
  <%= f.input :character_id,:collection => @squad_characters.all>?.Z,:label_method => :name,:value_method => :id,:label => "Character",:include_blank => true %>
  <%= f.button :submit %>
<% end %>