<p id="notice"><%= notice %></p>

<h1>Listing Encounter Character Refs</h1>

<table border="1">
  <thead>
    <tr>
      <th>Encounter</th>
      <th>Character</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @encounter_character_refs.each do |encounter_character_ref| %>
      <tr>
        <td><%= Encounter.find(encounter_character_ref.encounter_id).name %></td>
        <td><%= Character.find(encounter_character_ref.character_id).name %></td>
      <%if current_player %>
        <%if current_player.is_leader? %>
          <td><%= link_to 'Show', encounter_character_ref %></td>
          <td><%= link_to 'Edit', edit_encounter_character_ref_path(encounter_character_ref) %></td>
          <td><%= link_to 'Destroy', encounter_character_ref, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Encounter character ref', new_encounter_character_ref_path %>
